<!DOCTYPE html>
<html lang="en" ng-app="tinyURL">
<head>
  <meta charset="UTF-8">
  <title>Olympic Games</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,300,400italic">
  <link rel="stylesheet" href="styles/app.css">
</head>
<body>
  <div class="header">
    <div class="cell">
      <h1 class="logo">Tiny URL</h1>
    </div>
  </div>

    <div class="cell" ng-controller="encodeCtrl">
      <form class="form" name="encodeForm"/>
        <div class="form-field">
          <label class="form-label" for="division">Long URL:</label>
          <input class="form-input" id="division" required ng-model="long_url"/>
        </div>
        <input class="btn" type="submit" value="Submit" ng-click="encodeUrl(long_url)"/>
      </form>
      <h2>请复制下面的链接，在浏览器打开</h2>
      <div>{{short_url}}</div>
    </div>

    <script src="libs/angular.min.js"></script>
    <script src="controller/encodeCtrl.js"></script>
  </body>
</html>
